<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <a class="navbar-brand" href="/restaurants/add"><i class="fa-solid fa-plus"></i> 新增餐廳</a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="hidden" name="page" value="{{page}}">
          <input type="text" name="keywords" class="form-control" placeholder="輸入餐廳名稱、分類" aria-label="Restaurant Name..." aria-describedby="search-button" value="{{keywords}}">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>    
  </div>  
</div>

{{> message}}

<!-- restaurant list -->
{{#if no_result_msg}}
<div style="display: flex;">
  <h4 style="margin:30px auto;">{{no_result_msg}}</h4>
</div>
{{else}}
<div class="container mt-4">

  {{!-- sort dropdown --}}
  <div class="dropdown d-flex mx-auto mb-4 col-md-10 justify-content-end" >
    <form action="/restaurants" id="sortForm">
      <input type="hidden" name="page" value="{{page}}">
      <select id="sort" class="form-select" style="color:#4592af;" name="sort" aria-label="sort select" onchange="document.getElementById('sortForm').submit()">
        <option selected disabled>排序方式</option>
        <option value="none" {{#if (eq sort 'none')}}selected{{/if}}>不排序</option>
        <option value="ASC" {{#if (eq sort 'ASC')}}selected{{/if}}>名稱: A➝Z</option>
        <option value="DESC" {{#if (eq sort 'DESC')}}selected{{/if}}>名稱: Z➝A</option>
        <option value="category" {{#if (eq sort 'category')}}selected{{/if}}>餐廳種類</option>
        <option value="location" {{#if (eq sort 'location')}}selected{{/if}}>地區</option>
        <option value="rating_DESC" {{#if (eq sort 'rating_DESC')}}selected{{/if}}>評分: 高➝低</option>
        <option value="rating_ASC" {{#if (eq sort 'rating_ASC')}}selected{{/if}}>評分: 低➝高</option>
      </select>
    </form>
  </div>

  {{!-- list panel --}}
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">        
        {{#each restaurants as | restaurant |}}
        <div>
          <div class="card mb-3">
            <a href="/restaurants/{{restaurant.id}}"><img class="card-img" src="{{restaurant.image}}" alt="{{restaurant.name_en}} image"></a>
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{restaurant.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{restaurant.category}}
              </div>

              <span class="badge rounded-pill bg-danger font-weight-normal">
                {{restaurant.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <div class="card-link">
                <a href="/restaurants/{{restaurant.id}}" class="card-link" >詳細資訊</a>
                <a href="/restaurants/{{restaurant.id}}/edit" class="card-link" style="margin-right: 0px;">編輯資訊</a>
                <form id="deleteForm" action="/restaurants/{{restaurant.id}}?_method=DELETE" method="post">
                  <button type="button" class="btn ms-3" style="color:#4592af;" data-bs-toggle="modal" data-bs-target="#delete_warning">移除餐廳</button>
                </form>                
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <!-- pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <form action="/restaurants" method="get">
          <input type="hidden" name="keywords" value="{{keywords}}">
          <input type="hidden" name="sort" value="{{sort}}">
          <input type="hidden" name="page" value="{{prevPage}}">
          <button type="submit" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </form>
      </li>
      {{#each pages}}
      <li class="page-item">
        <form action="/restaurants" method="get">
          <input type="hidden" name="keywords" value="{{@root.keywords}}">
          <input type="hidden" name="sort" value="{{@root.sort}}">
          <input type="hidden" name="page" value="{{this}}">
          <button type="submit" class="page-link" aria-label="page:{{this}}">{{this}}</button>
        </form>  
      </li>
      {{/each}}
      <li class="page-item">
        <form action="/restaurants" method="get">
          <input type="hidden" name="keywords" value="{{keywords}}">
          <input type="hidden" name="sort" value="{{sort}}">
          <input type="hidden" name="page" value="{{nextPage}}">
          <button type="submit" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </form>        
      </li>
    </ul>
  </nav>

</div>
{{/if}}

{{> delete-warning}}